* {
  font-family: "Open Sans", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 72rem;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -0.9375rem;
}

.col {
  padding: 0 0.9375rem;
}

.w-full {
  width: 100% !important ;
}

.header {
  /* background-color: #4e2a84; */
  background-image: linear-gradient(to right, red, blue, yellow, green);
}
.header a {
  color: #ffffff;
  /* text-transform: uppercase; */
  text-decoration: none;
  display: block;
}
.header .logo {
  font-size: 2.5rem;
  font-weight: 600;
}
.header a:hover {
  color: #ff0e83;
}

.header .navbar {
  display: flex;
}

.header .navbar a::after {
  content: "";
  display: block;
  width: 0;
  margin-top: 1rem;
  background-color: palevioletred;
  height: 2px;

  /* Transition */
  transition-property: all;
  transition-duration: 0.3s;
  transition-timing-function: ease-in;
  transition-delay: 0s;
}

.header .navbar a:hover::after {
  width: 100%;
}

.header .container .navbar a {
  font-size: 0.875rem;
  font-weight: 500;
  margin: 0.9rem;
}

.header .container {
  /* flex box */
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.carousel {
  background-image: url(../images/b3.jpg);
  height: 37.5rem;
  background-repeat: no-repeat;
  background-size: cover;
  color: #ffffff;
  background-position: center center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.carousel h1 {
  font-weight: 600;
  font-size: 3rem;
  animation-name: edric;
  animation-duration: 5s;
  animation-timing-function: linear;
  /* animation-delay: 0.5s ; */
  animation-iteration-count: 1;
}

.carousel h1::before {
  content: "The ";
  color: greenyellow;
}

.carousel h1::after {
  content: " !";
  color: #ff0e83;
}

.carousel button {
  background-color: #ff0e83;
  color: #ffffff;
  border: solid #ffffff 1px;
  border-radius: 0.375rem;
  padding: 0.625rem 1.25rem;
  margin-top: 1rem;
}

.statictic {
  padding-top: 3rem;
}

.statictic .row {
  display: flex;
  margin: 0 -0.9375rem;
}

.statictic .col {
  width: 25%;
}

.statictic .item {
  text-align: center;
}

.statictic .item p {
  font-size: 2rem;
  color: #4e2a84;
  margin-bottom: 1.3rem;
}
.statictic .item span {
  color: #000000;
  font-weight: 550;
}

.video .col {
  width: 50%;
}

.video .item video,
.video .item iframe {
  width: 100%;
  height: 21rem;
}

.team {
  background-color: #4e2a84;
  padding-top: 2.5rem;
  margin-top: 3rem;
}

.team .title {
  color: #ffffff;
  text-align: center;
  font-size: 3rem;
  font-weight: 600;
}

.team .row {
  flex-wrap: wrap;
  margin-top: 3rem;
}

.team .col {
  width: calc(100% / 3);
}

.team .item img {
  width: 100%;
  display: block;
}

.team .item {
  overflow: hidden;
  position: relative;
  margin-bottom: 1.875rem;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.4);
}

.team .info {
  background-color: #c62584;
  color: #ffffff;
  padding: 1.25rem;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}

.team .detail {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
  color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2rem;
  transition: all 0.4s ease;
}

.team .item:hover .info {
  display: none;
}

.team .item-1 .detail {
  opacity: 1;
  visibility: hidden;
}

.team .item-1:hover .detail {
  opacity: 1;
  visibility: visible;
}

.team .item-2 .detail {
  left: -100%;

  /* transform: translate(-100%, 0); */
}

.team .item-2:hover .detail {
  left: 0;
  opacity: 1;
  visibility: hidden;
  /* transform: translate(0); */
}

.team .item-3 .detail {
  transform: scale(0);
}
.team .item-3:hover .detail {
  transform: scale(1);
}

.team .item-4 .detail {
  transform: scale(0);
}
.team .item-4:hover .detail {
  transform: scale(1);
  transform: scale(1) rotate(360deg);
}

.team .detail h1 {
  font-size: 1.5rem;
  color: #c62584;
}

.team .detail span {
  display: block;
  margin: 0.5rem 0;
}
.team .detail .social {
  margin-top: 1rem;
}

.team .detail .social i {
  border: 2px solid #ffffff;
  text-align: center;
  font-size: 1.7rem;
  width: 2.3rem;
  height: 2.3rem;
  line-height: 2.3rem;
  margin-right: 0.5rem;
}
.team .info {
  background-color: #c62584;
  color: #ffffff;
  padding: 2.25rem;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}

.contact .form h1 {
  font-size: 3rem;
  font-size: 600;
  text-align: center;
  margin-bottom: 2rem;
  margin-top: 1.5rem;
}

.contact .form .col {
  width: 50%;
}

.contact .form .form-group {
  margin-bottom: 1rem;
}

.contact .form .form-group input[type="text"],
.contact .form .form-group input[type="email"],
.contact .form .form-group textarea {
  width: 100%;
  padding: 0.5rem;
  border-radius: 0.3125rem;
  border: 1px solid #666666;
}

.contact .form .form-group button {
  color: #ffffff;
  background-color: #c62584;
  border-radius: 0.2rem;
  border: none;
  width: 100%;
  display: block;
  padding: 0.5rem 0;
  margin-bottom: 2.5rem;
}

.contact .info{
  margin: 2rem 0;
}
.contact .info .row{
  display: flex;
  justify-content: space-around;
}



.contact .info .item{
  color: #4e2a84;
  text-align: center;
  font-size: 1.3rem;
  padding-bottom: 1rem;
}

.contact .info .text p{
  font-weight: 520;
  justify-content: center;
  letter-spacing: 0.5px;
}

.contact .text{
  text-align: center;
}

.footer{
  margin-top: 5rem;
  background-color: #000000;
}

.footer .col{
  width: 25%;
}

.footer h1{
  margin-top: 2.5rem;
  color: #ff0e83;
}

.footer .text{
  color: #ffffff;
  margin-top: 2rem;
  letter-spacing: 1.5px;
  font-size: 0.9rem;
    letter-spacing: 1px;
  margin-bottom: 1.5rem;
  
}

.footer .text p{
  margin-bottom: 1.5rem;
}
.footer span{
  font-size: 0.9rem;
  margin-bottom: 0.35rem;
}

.footer .text .day{
  display: flex;
  justify-content: space-between;
  border-bottom: 1px dotted #ffffff;
  margin-bottom: 1rem;
}


.footer .icon{
  display: flex;
  margin-top: 1.5rem;
}
.footer .icon i{
  border: #ffffff solid 1px;
  padding: 0.7rem;
  text-align: center;
  font-size: 0.7rem;
   margin-right: 1rem;
}

.footer .test{
  letter-spacing: 1px;
  margin-bottom: 1.5rem;
}

.footer input{
  border: 1px solid #ffffff;
  border-radius: 2px;
  padding: 0.5rem 0;
  margin: 2.5rem 0 1rem 0 ;
  width: 75%;
}

.footer button{
  border: 1px solid transparent;
  background-color:#ff0e83;
  color: #000000;
  padding: 5px 7px;
  border-radius: 2px;
  width: 35%;
  font-weight: 800;
  cursor: pointer;

}

.footer .copyright{
  color: #ffffff;
  text-align: center;
  padding: 2rem 0;
  font-size: 1rem;
  position: relative;
  
}

.footer .copyright a{
  text-decoration: none;
  color: #ff0e83;
}

.footer img{
  position: absolute;
  top: 30%;
  right: 7%;
}

.intro {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.intro .item{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  
}

.intro h1{
  font-size: 1rem;
  text-align: center;
}

.intro p{
  font-size: 0.7rem;
  text-align: center;
}

.intro .item1{
  background-color: #4e2a84;
}
.intro .item2 {
  grid-column: 2 / span 2;
}

.intro .item3{
  background-color: #ff0e83;
}
.intro .item4 {
  grid-column: 1 / span 2;
  background-color: #ed6498;
}
.intro .item6{
  background-color: #836eaa;
}

.intro .item8{
  background-color: #4e2a84;
}

.intro .item9 {
  grid-column: 3 / span 2;
}


@keyframes edric {
  0% {
    opacity: 0;
    visibility: hidden;
    transform: translate(0, -200px);
  }
  80% {
    opacity: 0.7;
    visibility: visible;
    transform: translate(0, 30px);
  }
  100% {
    opacity: 1;
    visibility: visible;
    transform: translate(0);
  }
}

.togle-slidebar {
  background-color: transparent;
  border: 1px solid #ffffff;
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  display: none;
}
/* Responsite */

/* 992px ->1200px */
@media screen and (max-width: 1200px) {
  h1 {
    color: yellow !important;
  }
}

/* 768px - 992px */
@media screen and (max-width: 992px) {
  h1 {
    color: pink !important;
  }
}

/* 576px -> 768px */
@media screen and (max-width: 768px) {
  .togle-slidebar {
    display: block;
  }
  .header .navbar{
    display: none;
  }
  .header .container{
    justify-content: space-between;
  }
  .carousel{
    padding: 0 1rem;
  }
  .intro{
    grid-template-columns: 1fr 1fr;

  }
  .intro .item2,
  .intro .item4,
  .intro .item9{
    grid-column: initial;
  }
  .intro .item9{
    display: none;
  }

  .team .col{
    width: 50% ;
  }

  .footer .col{
    width: 50%;
  }
}

/* 576px */
@media screen and (max-width: 576px) {
  .carousel h1{
    font-size: 2rem;
  }
  .carousel p{
    font-size: 0.875rem;
    text-align: center;
  }
  .intro{
    grid-template-columns: 1fr;

  }
  .statictic .col{
    width: 50%;
  }
  .video .col{
    width: 100%;
  }
  .team .col{
      width: 100%;
  }
  
  .contact .info .col{
    width: 100%;
  }

  .footer .col{
    width: 100%;
  }
}
